.button{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#white{
    background-color: white;
    color: black;
}

#black{
    background-color: black;
    color:white;
}

#tilesBar{
    position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  background-color: grey;
}